.header {
  background: var(--ant-layout-header-bg) !important;
  border-bottom: none !important;
}

.appName {
  color: var(--ant-color-text-quaternary) !important;
}

@media only screen and (max-width: 575px) {
  .appName {
    display: none;
  }

  .header {
    padding: 1.2rem !important;
  }
}

.accountDropdownWrapper {
  width: 100%;
}

.contentLayout {
  padding: 0 24px 24px;
}

.content {
  background: var(--ant-color-bg-container);
  border-radius: var(--ant-border-radius-lg);
}

.footer {
  background: var(--ant-layout-body-bg) !important;
  border-top: none !important;
}
